{extend name="../../common/view/base" /}
{block name="body"}
<div class="form">
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><i class="icon fa-phone"></i></div>
        <div class="weui-cell__bd" style="margin-left:10px">
            <input class="weui-input" type="text" value="" readonly placeholder='{notempty name="config.tel"}{$config.tel}{/notempty}'>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__hd"><i class="icon wb-clipboard"></i></div>
        <div class="weui-cell__bd" style="margin-left:10px">
            <p class="detail">查看详情</p>
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>
<div class="weui-cells__title">请填写以下信息</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label"><span class="require-tips">*</span> 姓名</label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="realname" placeholder="请输入姓名">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label for="tel" class="weui-label"><span class="require-tips">*</span> 电话</label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" type="number" id="tel" placeholder="请输入电话号码">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label for="user" class="weui-label"><span class="require-tips">*</span> 置业顾问</label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" id="user" type="text" value="" placeholder="请选择置业顾问(必填)">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label for="roomNum" class="weui-label"><span class="require-tips">*</span> 意向户型</label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" id="roomNum" type="text" value="" placeholder="请选择楼栋">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label for="house" class="weui-label"></label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" id="house" type="text" value="" placeholder="请选择具体户型">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label for="age" class="weui-label">年龄</label></div>
    <div class="weui-cell__bd">
        <input class="weui-input" id="age" type="text" value="" placeholder="请选择年龄">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label"><label for="area" class="weui-label">居住区域</label></label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" id="area" type="text" value="" placeholder="请选择居住区域">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label"><label for="channels" class="weui-label">来访渠道</label></label>
    </div>
    <div class="weui-cell__bd">
        <input class="weui-input" id="channels" type="text" value="" placeholder="请选择来访渠道">
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
    <div class="weui-cell__bd">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="请输入备注信息" id="note" rows="3"></textarea>
        </div>
    </div>
</div>
<div class="weui-cell">
    <div class="weui-cell__bd">
        <a href="javascript:;" class="weui-btn weui-btn_primary submit">提交信息</a>
    </div>
</div>
</div>
<div class="success" style="display:none">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">操作成功</h2>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a role="button" class="weui-btn weui-btn_primary cancle">返回预约登记</a>
            </p>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    var operate={
        age:[{title:"20岁以下",value:1},{title:"20~30岁",value:2,},{title:"30~40岁",value:3,},{title:"40岁以上",value:3}],
        room:[{title:"楼栋",value:1},{title:"户型",value:2}],
        roomNum:[{title:"9号楼",value:1},{title:"10号楼",value:2},{title:"11号楼",value:3},{title:"14号楼",value:4},{title:"17号楼",value:5},{title:"19号楼",value:6},{title:"20号楼",value:7},],
        house:[{title:"A1",value:1},{title:"A2",value:2},{title:"A3",value:3},{title:"A4",value:4},{title:"B1",value:5},{title:"B2",value:6},{title:"B3",value:7}],
        area:[
            {title:"巴南区",value:1},
            {title:"渝中区",value:2},
            {title:"大渡口区",value:3},
            {title:"江北区",value:4},
            {title:"沙坪坝区",value:5},
            {title:"九龙坡区",value:6},
            {title:"南岸区",value:7},
            {title:"北碚区",value:8},
            {title:"万盛区",value:9},
            {title:"双桥区",value:10},
            {title:"渝北区",value:11},
            {title:"江津市",value:12},
            {title:"合川市",value:13},
            {title:"永川市",value:14},
            {title:"长寿县",value:15},
            {title:"綦江县",value:16},
            {title:"潼南县",value:17},
            {title:"铜梁县",value:18},
            {title:"大足县",value:19},
            {title:"荣昌县",value:20},
            {title:"璧山县",value:21},
            {title:"龙宝区",value:22},
            {title:"天城区",value:23},
            {title:"五桥区",value:24},
            {title:"开县",value:25},
            {title:"忠县",value:26},
            {title:"梁平县",value:27},
            {title:"云阳县",value:28},
            {title:"奉节县",value:29},
            {title:"巫山县",value:30},
            {title:"巫溪县",value:31},
            {title:"城口县",value:32},
            {title:"涪陵区",value:33},
            {title:"垫江县",value:34},
            {title:"武隆县",value:35},
            {title:"丰都县",value:36},
            {title:"黔江县",value:37},
            {title:"石柱县",value:38},
            {title:"彭水县",value:39},
            {title:"酉阳县",value:40},
            {title:"秀山县",value:41},
            {title:"市外",value:42},
            {title:"界石",value:43},
            {title:"南彭",value:44},
            {title:"李家沱",value:45},
            {title:"茶园",value:46},
            {title:"龙洲湾",value:47},
            {title:"公路物流基地",value:48},
            {title:"周边乡镇",value:49},
            {title:"其他",value:50},
        ],
        channels:[
            {title:"来访",value:1},
            {title:"来电",value:2},
            {title:"中诚泽家",value:3},
            {title:"房优圈",value:4},
            {title:"聚意",value:5},
            {title:"聚泛",value:6},
            {title:"房多多",value:7},
            {title:"自有渠道",value:8},
            {title:"九鼎渠道",value:9},
            {title:"中原渠道",value:10},
            {title:"老带新",value:11},
            {title:"分销带访",value:12},
            {title:"员工推荐",value:13},
            {title:"线上预约",value:14},
        ],
        user:{$user},
        check: function () {

            var realname = $('#realname').val();
            if (!realname) {
                $.toast("姓名必填", "forbidden");
                return false;
            }

            var tel = $('#tel').val();
            if (!tel || !/1[3|4|5|7|8]\d{9}/.test(tel)) {
                $.toast("请输入正确的手机号", "forbidden");
                return false;
            }

            var user = $('#user').val();
            if (!user) {
                $.toast("置业顾问必填", "forbidden");
                return false;
            }

            var roomNum = $("#roomNum").val();
            if(!roomNum){
                $.toast("楼栋必填", "forbidden");
                return false;
            }

            var house = $("#house").val();
            if(!house){
                $.toast("户型必填", "forbidden");
                return false;
            }

            return true;
        },
        submit:function () {
            var data = {
                mobile:$("#tel").val(),
                true_name:$("#realname").val(),
                age:$("#age").data('values'),
                areaid:$("#area").data('values'),
                channels:$("#channels").data('values'),
                adviser_id:$("#user").data('values'),
                roomNum:$("#roomNum").data('values'),
                house:$("#house").data('values'),
                note:$("#note").val(),
            };
            $.ajax({
                type:'post',
                url:'/member/detail',
                data:data,
                beforeSend:function () {
                    $(".submit").addClass('weui-btn_loading weui-btn_disabled').text('正在提交...');
                    $.showLoading();
                },
                success:function (data) {
                    $.hideLoading();
                    if(data.code==1){
                        $.toast(data.msg, "forbidden");
                        return false;
                    }
                    $(".form").hide('normal',function () {
                        $(this).remove();
                        $(".success").show('normal');
                    })
                },
                complete:function () {
                    $(".submit").removeClass('weui-btn_loading weui-btn_disabled').text('正在提交');
                }
            })
        },
        cancle:function () {
            window.location.href=window.location.href+'&random={$random}'
        },
        detail:function () {
            window.location.href='{:Url("/detail",[],false,true)}';
        }
    }
    $("#age").select({
        title: "选择年龄",
        items: operate.age,
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $("#user").select({
        title: "选择置业顾问",
        items: operate.user,
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $("#room").select({
        title: "选择意向户型",
        items: operate.room,
        onChange: function(d) {
            if(d.values=='1'){
                $("#roomNum").parents('.weui-cell').show();
                $("#house").parents('.weui-cell').hide();
            }else{
                $("#roomNum").parents('.weui-cell').hide();
                $("#house").parents('.weui-cell').show();
            }
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $("#roomNum").select({
        title: "选择意向户型",
        items: operate.roomNum,
        onChange: function(d) {

        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $("#house").select({
        title: "选择意向户型",
        items: operate.house,
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $("#area").select({
        title: "选择居住区域",
        items: operate.area,
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $("#channels").select({
        title: "选择来访渠道",
        items: operate.channels,
        onChange: function(d) {
            console.log(this, d);
        },
        onClose: function() {
            console.log("close");
        },
        onOpen: function() {
            console.log("open");
        },
    });

    $(".submit").on('click',function () {
        var result = operate.check();
        if(result){
            operate.submit();
        }
    })

    $(".cancle").on('click',function () {
        operate.cancle();
    })

    $(".detail").on('click',function () {
        operate.detail();
    })
</script>
{/block}

