{extend name="../../common/view/base" /}
{block name="body"}
    <div class="ylm-banner">
        <div class="layui-carousel" id="test10">
            <div carousel-item="">
                <div><img src="__IMG__banner.png"></div>
                <div><img src="__IMG__banner.png"></div>
            </div>
        </div>
    </div>
    <div class="ylm-pro">
        <div class="ylm-pro-title"><a href="javascript:;"><img src="__IMG__pro-title.png" alt=""></a></div>
        <div class="ylm-pro-nav">
            <ul>
                <li><a href="javascript:;"><img src="__IMG__pro-diliao.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__pro-tesecai.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__pro-chuanyu.png" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__pro-zhuoyi.png" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="ylm-about">
        <div class="ylm-about-main">
            <div class="ylm-about-intro">
                <p class="ylm-about-title">寻味之旅</p>
                <p class="ylm-about-txt">寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻味之旅寻</p>
            </div>
            <div class="ylm-about-img">
                <a href=""><img src="__IMG__about-img.jpg" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="ylm-hz">
        <div class="ylm-hz-title"><a href="javascript:;"><img src="__IMG__hz.png" alt=""></a></div>
        <div class="ylm-hz-nav">
            <ul>
                <li><a href="javascript:;"><img src="__IMG__hz-nav-1.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__hz-nav-2.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__hz-nav-3.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="b">
        <img src="__IMG__b.jpg" alt="">
    </div>
    <div class="ylm-news">
        <div class="ylm-news-intro">
            <div class="ylm-news-img"><a href="javascript:;"><img src="__IMG__news.jpg" alt=""></a></div>
            <div class="ylm-news-text"><a href="javascript:;"><img src="__IMG__news-nav.jpg" alt=""></a></div>
            <div class="clear"></div>
        </div>
        <div class="ylm-news-list">
            <div class="ylm-news-list-nav">
                <div class="ylm-news-list-cate"><a href="javascript:;">查看详情</a></div>
                <ul>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li class="last"><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                </ul>
            </div>
            <div class="ylm-news-list-nav">
                <div class="ylm-news-list-cate"><a href="javascript:;">查看详情</a></div>
                <ul>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li class="last"><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                </ul>
            </div>
            <div class="ylm-news-list-nav">
                <div class="ylm-news-list-cate"><a href="javascript:;">查看详情</a></div>
                <ul>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                    <li class="last"><a href="">2017新闻联公布2017新闻联公布2017新闻联公</a><span>2017-10-31</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel;
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '1349px'
            ,height: '796px'
            ,interval: 5000
        });
    })
</script>
{/block}

