<title>文章列表</title>
<div class="page animation-fade page-forms">
    <div class="page-header">
        <h1 class="page-title">表单布局</h1>
        <ol class="breadcrumb">
            <li>
                <a>首页</a>
            </li>
            <li>
                <a href="javascript:;">表单</a>
            </li>
            <li class="active">表单布局</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                <div class="form-group">
                                    <a data-pjax="" href="{:Url('/cate/detail',[],false,false)}" target="_blank" role="button"  class="btn btn-block btn-success">添加文章</a>
                                </div>
                            </div>
                        </div>
                        <div class="example table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>任务</th>
                                    <th>进度</th>
                                    <th>计划完成时间</th>
                                    <th class="text-nowrap">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>月球探测项目</td>
                                    <td>
                                        <div class="progress progress-xs margin-vertical-10 ">
                                            <div class="progress-bar progress-bar-danger" style="width: 35%"></div>
                                        </div>
                                    </td>
                                    <td>2019/12/05</td>
                                    <td class="text-nowrap">
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="删除">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>接见法国总理</td>
                                    <td>
                                        <div class="progress progress-xs margin-vertical-10 ">
                                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                        </div>
                                    </td>
                                    <td>2017/01/09</td>
                                    <td class="text-nowrap">
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="删除">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>人造太阳计划</td>
                                    <td>
                                        <div class="progress progress-xs margin-vertical-10 ">
                                            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                        </div>
                                    </td>
                                    <td>2018/03/23</td>
                                    <td class="text-nowrap">
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="删除">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>购买F22战机</td>
                                    <td>
                                        <div class="progress progress-xs margin-vertical-10 ">
                                            <div class="progress-bar progress-bar-primary" style="width: 70%"></div>
                                        </div>
                                    </td>
                                    <td>2019/12/01</td>
                                    <td class="text-nowrap">
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="删除">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>去好莱坞演大片</td>
                                    <td>
                                        <div class="progress progress-xs margin-vertical-10 ">
                                            <div class="progress-bar progress-bar-primary" style="width: 85%"></div>
                                        </div>
                                    </td>
                                    <td>2018/09/08</td>
                                    <td class="text-nowrap">
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="删除">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>乖乖写代码</td>
                                    <td>
                                        <div class="progress progress-xs margin-vertical-10 ">
                                            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                        </div>
                                    </td>
                                    <td>2016/12/10</td>
                                    <td class="text-nowrap">
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default">
                                            <i class="icon wb-wrench" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="删除">
                                            <i class="icon wb-close" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>