<title>{empty name="id"}分类添加{else}分类编辑{/empty}</title>
<link rel="stylesheet" href="{$domain.static}/css/formValidation.css">
<div class="page animation-fade page-forms">
    <div class="page-header">
        <h1 class="page-title">表单布局</h1>
        <ol class="breadcrumb">
            <li>
                <a>首页</a>
            </li>
            <li>
                <a href="javascript:;">表单</a>
            </li>
            <li class="active">表单布局</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-sm-12 col-md-12">
                        <div class="example-wrap">
                            <div class="example">
                                <form class="form-horizontal" action="{:Url('/cate/detail/save',[],false,false)}" id="articleForm">
                                    <input type="hidden" name="id" value="{$id}">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">上级分类：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <select name="parent_id" class="form-control">
                                                <option value="0">选择分类</option>
                                                {$cate}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label"><span class="required">*</span>分类名称：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <input type="text" class="form-control" name="name" placeholder="" autocomplete="off" value='{notempty name="info"}{$info.name}{/notempty}'>
                                        </div>
                                    </div>
                                    <div class="form-group has-error has-feedback"></div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{$domain.static}/js/login/formValidation.min.js" data-name="formValidation"></script>
<script src="{$domain.static}/js/login/bootstrap.min.js" data-deps="formValidation"></script>
<script src="{$domain.static}/js/jquery-form.js"></script>
<script src="{$domain.static}/js/cate/cate.js" charset="UTF-8"></script>