<title>{empty name="info"}添加{else /}编辑{/empty}置业顾问</title>
<link rel="stylesheet" href="{$domain.static}/css/formValidation.css">
<div class="page animation-fade page-forms">
    <div class="page-header">
        <h1 class="page-title">置业顾问管理</h1>
        <ol class="breadcrumb">
            <li>
                <a>首页</a>
            </li>
            <li>
                <a href="javascript:;">置业顾问</a>
            </li>
            <li class="active">{empty name="info"}添加{else /}编辑{/empty}置业顾问</li>
        </ol>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-sm-12 col-md-12">
                        <div class="example-wrap">
                            <div class="example">
                                <form class="form-horizontal" action="{:Url('/member/detail',['group_id'=>$group_id],false,false)}" id="memberForm">
                                    <input type="hidden" name="id" value='{notempty name="info"}{$info.id}{/notempty}'>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label"><span class="required">*</span>用户名：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <input type="text" class="form-control" name="user_name" placeholder="" autocomplete="off" value='{notempty name="info"}{$info.user_name}{/notempty}'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label"><span class="required">*</span>密码：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <input type="password" class="form-control" name="pass_word" autocomplete="off" value='' placeholder='{notempty name="info"}不修改密码请不填写{/notempty}'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label"><span class="required">*</span>确认密码：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <input type="password" class="form-control" name="confrim_pass_word" autocomplete="off" value='' placeholder='{notempty name="info"}不修改密码请不填写{/notempty}'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">顾问团队：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <select class="form-control" name="team">
                                                <option value="1" {notempty name="info"}{eq name="info.team" value="1"}selected{/eq}{/notempty}>华南城</option>
                                                <option value="2" {notempty name="info"}{eq name="info.team" value="2"}selected{/eq}{/notempty}>中原</option>
                                                <option value="3" {notempty name="info"}{eq name="info.team" value="3"}selected{/eq}{/notempty}>九鼎</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label">用户状态：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <div class="radio-custom radio-default radio-inline">
                                                <input type="radio" id="inputHorizontalSuccess" name="status" {empty name="info"}checked=""{/empty} value="1" {notempty name="info"}{eq name="info.status" value="1"}checked=""{/eq}{/notempty}>
                                                <label for="inputHorizontalSuccess">启用</label>
                                            </div>
                                            <div class="radio-custom radio-default radio-inline">
                                                <input type="radio" id="inputHorizontalCheck" name="status" value="2" {notempty name="info"}{eq name="info.status" value="2"}checked=""{/eq}{/notempty}>
                                                <label for="inputHorizontalCheck">关闭</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-2 control-label"><span class="required">*</span>剩余名额：</label>
                                        <div class="col-sm-9 col-md-6">
                                            <input type="text" class="form-control" name="number" placeholder="" autocomplete="off" value='{notempty name="info"}{$info.number}{else /}0{/notempty}'>
                                        </div>
                                    </div>
                                    <div class="form-group has-error has-feedback"></div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{$domain.static}/js/login/formValidation.min.js" data-name="formValidation"></script>
<script src="{$domain.static}/js/login/bootstrap.min.js" data-deps="formValidation"></script>
<script src="{$domain.static}/js/jquery-form.js"></script>
{notempty name="info"}
<script src="{$domain.static}/js/member/member1-save.js" charset="UTF-8"></script>
{else /}
<script src="{$domain.static}/js/member/member1.js" charset="UTF-8"></script>
{/notempty}