#kf5-support-btn {
    visibility: hidden
}

#kf5-support-block {
    right: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.require-tips{color:#f96868;position:relative;top:3px}