<!doctype html>
<html lang="en">
<head>
    <title>Admui 在线演示系统</title>
    <meta charset="utf-8">
    <meta name="keywords" content="admui,admui官网,admui下载,admui框架,通用后台管理系统,后台框架,ui框架"/>
    <meta name="description" content="Admui在线演示系统，Admui是一个基于最新Web技术的企业级通用管理系统快速开发框架，可以帮助企业极大的提高工作效率，节省开发成本，提升品牌形象。"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="{$domain.static}/img/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="{$domain.static}/img/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="{$domain.static}/img/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="{$domain.static}/img/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    <!-- 样式 -->
    <link rel="stylesheet" href="{$domain.static}/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="{$domain.static}/css/site.css" id="siteStyle">
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie/'"/>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="{$domain.static}/js/media.match.min.js"></script>
    <script src="{$domain.static}/js/respond.min.js"></script>
    <![endif]-->

    <!-- 图标 -->
    <link rel="stylesheet" href="{$domain.static}/css/web-icons.css">
    <link rel="stylesheet" href="{$domain.static}/css/font-awesome.css">
    <link rel="stylesheet" href="{$domain.static}/css/animsition.css">
    <link rel="stylesheet" href="{$domain.static}/css/toastr.css">
    <link rel="stylesheet" href="{$domain.static}/css/demo.css">
    <link rel="stylesheet" href="{$domain.static}/css/home.css">
    <link rel="stylesheet" href="{$domain.static}/css/themify.css">

    <!-- 插件 -->
    <script src="{$domain.static}/js/jquery.min.js"></script>
    <script src="{$domain.static}/js/bootstrap.min.js"></script>
    <script src="{$domain.static}/js/modernizr.min.js"></script>
    <script src="{$domain.static}/js/breakpoints.min.js"></script>
    <script src="{$domain.static}/js/template.min.js"></script>
    <script src="{$domain.static}/js/toastr.min.js"></script>
    <script src="{$domain.static}/js/bootbox.min.js"></script>

    <!-- 核心  -->
    <script src="{$domain.static}/js/core.js"></script>
    <script src="{$domain.static}/js/site.js"></script>
    <script src="{$domain.static}/js/site-configs.js"></script>
    <script src="{$domain.static}/plugin/layui/layui.js"></script>

    <script>Breakpoints();</script>

    {block name="style"}{/block}
</head>
<body class="site-contabs-open">
{include file="../../common/view/header" /}
{include file="../../common/view/sidebar_left" /}
{include file="../../common/view/navigation" /}

<main class="site-page">
<div class="page-container" id="admui-pageContent">
{block name="body"}{/block}
</div>
<div class="page-loading vertical-align text-center">
    <div class="page-loader loader-default loader vertical-align-middle" data-type="default"></div>
</div>
</main>
{include file="../../common/view/footer" /}



<!-- 布局 -->
<script src="{$domain.static}/js/menu.js"></script>
<script src="{$domain.static}/js/media-menu.js"></script>
<script src="{$domain.static}/js/content-tabs.js"></script>

<!-- 插件 -->
<script src="{$domain.static}/js/jquery.pjax.min.js"></script>
<script src="{$domain.static}/js/responsive-tabs.js"></script>
<script src="{$domain.static}/js/jquery-asHoverScroll.min.js"></script>
<script src="{$domain.static}/js/jquery.slimscroll.min.js"></script>
<script src="{$domain.static}/js/screenfull.min.js"></script>
<script src="{$domain.static}/js/jquery.matchHeight.min.js"></script>
<script>
    $(function(){
        $(window).on('beforeunload',function(){return;});
    })
</script>
{block name="js"}{/block}
</body>
</html>
