{extend name="../../common/view/base" /}
{block name="body"}
    <div class="ylm-banner">
        <div class="layui-carousel" id="test10">
            <div carousel-item="">
                <div><img src="__IMG__banner.png"></div>
                <div><img src="__IMG__banner.png"></div>
            </div>
        </div>
    </div>
    <div class="ylm-hz">
        <div class="ylm-hz-title"><a href="javascript:;"><img src="__IMG__hz.png" alt=""></a></div>
        <div class="ylm-hz-nav">
            <ul>
                <li><a href="javascript:;"><img src="__IMG__hz-nav-1.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__hz-nav-2.jpg" alt=""></a></li>
                <li><a href="javascript:;"><img src="__IMG__hz-nav-3.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="b">
        <img src="__IMG__b.jpg" alt="">
    </div>
    <div class="ylm-list-nav">
        {notempty name="article"}
        {volist name="article" id="v"}
        <div class="ylm-list">
            <div class="ylm-list-text">
                <div class="ylm-list-title"><a href='{:Url("/detail/about/news",["id"=>$v["id"]],false,true)}'>{$v.title}</a></div>
                <div class="ylm-list-desc">
                    <a href='{:Url("/detail/about/news",["id"=>$v["id"]],false,true)}'>{$v.introduce}</a>
                </div>
            </div>
            <div class="ylm-list-img"><a href='{:Url("/detail/about/news",["id"=>$v["id"]],false,true)}'><img width="441" height="238" src="{$v.small_thumb}" alt=""></a></div>
            <div class="clear"></div>
        </div>
        {/volist}
        {/notempty}
        <div class="page" style="text-align: center">
            {$page}
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel;
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '1349px'
            ,height: '300px'
            ,interval: 5000
        });
    })
</script>
{/block}