<!DOCTYPE html>
<html>
<head>
    <title>{$web_title}</title>
    <meta name="keywords" content="{$web_keywords}">
    <meta name="description" content="{$web_description}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__style.css">
    <link rel="stylesheet" href="__PLUGIN__layui/css/layui.css">
<body>
<div class="ylm-container">
    <div class="ylm-main">
        <div class="ylm-header">
            <div class="logo"><a href=""><img src="__IMG__logo.png" alt=""></a></div>
            <div class="nav">
                <ul>
                    <li><a href="/" class="active" data-active="1">首页</a></li>
                    {volist name="cate" id="v"}
                    <li>
                        {if condition="in_array($v.id,[2,6,5,21])"}
                        <a href='{:Url("/detail/about",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a>
                        {elseif condition="in_array($v.id,[4])"}
                        <a href='{:Url("/article/lists",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a>
                        {else}
                        <a href='{:Url("/article/lists/news",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a>
                        {/if}
                        {notempty name="v.child"}
                        <ol>
                            {volist name="v.child" id="v"}
                            {if condition="in_array($v.id,[18,19,20,21])"}
                            <a href='{:Url("/detail/about",["cat_id"=>$v.id],false,true)}'>{$v.name}</a>
                            {elseif condition="in_array($v.id,[14,15,16,17])"}
                            <a href='{:Url("/article/lists",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a>
                            {else}
                            <a href="">{$v.name}</a>
                            {/if}
                            {/volist}
                        </ol>
                        {/notempty}
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    {block name="body"}{/block}
    </div>
<div class="ylm-footer">
    <div class="ylm-footer-main">
        <div class="ylm-footer-tool">
            <div class="ylm-footer-map">
                <span><img src="__IMG__map.jpg" alt=""></span>
                <span>
            <p class="map">地址</p>
            <p class="map-info">{$web_address}</p>
        </span>
            </div>
            <div class="ylm-footer-map">
                <span><img src="__IMG__tel.jpg" alt=""></span>
                <span>
            <p class="map">电话</p>
            <p class="map-info">{$web_tel}</p>
        </span>
            </div>
            <div class="ylm-footer-map">
                <span><img src="__IMG__email.jpg" alt=""></span>
                <span>
            <p class="map">邮箱</p>
            <p class="map-info">{$web_email}</p>
        </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ylm-footer-nav">
            <ul>
                <li><a href="/">首页</a></li>
                {volist name="cate" id="v"}
                {if condition="in_array($v.id,[2,6,5,21])"}
                <li><a href='{:Url("/detail/about",["cat_id"=>$v.id],false,true)}'>{$v.name}</a></li>
                {elseif condition="in_array($v.id,[4])"}
                <li><a href='{:Url("/article/lists",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a></li>
                {else}
                <li><a href='{:Url("/article/lists/news",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a></li>
                {/if}
                {/volist}
            </ul>
        </div>
    </div>
</div>
</div>
<script src="__JS__login/jquery.js"></script>
<script src="__PLUGIN__layui/layui.js"></script>
<script>
    $(function(){
        $(".nav>ul").children('li').on('mouseenter', function () {
            $("ol").css('display', 'none');
            $(this).children('ol').css('display', 'block');
            if ($(this).children('a').data('active') == 0) {
                $(this).children('a').addClass('active');
            }
        }).on('mouseleave', function () {
            $("ol").css('display', 'none');
            if ($(this).children('a').data('active') == 0) {
                $(this).children('a').removeClass('active');
            }
        })
    })
</script>
{block name="js"}{/block}
</body>
</html>