<!DOCTYPE html>
<html>
<head>
    <title>网站模板—食品饮料</title>
    <meta name="keywords" content="网站模板—食品饮料">
    <meta name="description" content="网站模板—食品饮料">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__STATIC__bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__style.css">
<body>
<div class="ylm-container">
{block name="body"}{/block}
</div>
<script src="__JS__login/jquery.js"></script>
<script>
    $(function(){
        $(".nav>ul").children('li').on('mouseenter', function () {
            $("ol").css('display', 'none');
            $(this).children('ol').css('display', 'block');
            if ($(this).children('a').data('active') == 0) {
                $(this).children('a').addClass('active');
            }
        }).on('mouseleave', function () {
            $("ol").css('display', 'none');
            if ($(this).children('a').data('active') == 0) {
                $(this).children('a').removeClass('active');
            }
        })
    })
</script>
{block name="js"}{/block}
</body>
</html>