</div>
<div class="ylm-footer">
    <div class="ylm-footer-main">
        <div class="ylm-footer-tool">
            <div class="ylm-footer-map">
                <span><img src="__IMG__map.jpg" alt=""></span>
                <span>
                    <p class="map">地址</p>
                    <p class="map-info">{$web_address}</p>
                </span>
            </div>
            <div class="ylm-footer-map">
                <span><img src="__IMG__tel.jpg" alt=""></span>
                <span>
                    <p class="map">电话</p>
                    <p class="map-info">{$web_tel}</p>
                </span>
            </div>
            <div class="ylm-footer-map">
                <span><img src="__IMG__email.jpg" alt=""></span>
                <span>
                    <p class="map">邮箱</p>
                    <p class="map-info">{$web_email}</p>
                </span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="ylm-footer-nav">
            <ul>
                <li><a href="/">首页</a></li>
                {volist name="cate" id="v"}
                {if condition="in_array($v.id,[2,6,5,21])"}
                <li><a href='{:Url("/detail/about",["cat_id"=>$v.id],false,true)}'>{$v.name}</a></li>
                {elseif condition="in_array($v.id,[4])"}
                <li><a href='{:Url("/article/lists",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a></li>
                {else}
                <li><a href='{:Url("/article/lists/news",["cat_id"=>$v.id],false,true)}' data-active="0">{$v.name}</a></li>
                {/if}
                {/volist}
            </ul>
        </div>
    </div>
</div>